{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}

<div class="container mt-4 form-page-area">

    <h2>Add Task for {{ customer.name }}</h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.due_date.label(class="form-label") }}
            {{ form.due_date(class="form-control") }}
        </div>
         <div class="mb-3">
        {{ form.priority.label(class="form-label") }}
        {{ form.priority(class="form-select") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}

        <a href="{{ url_for('main.customer_details',
                            customer_code=customer.customer_code) }}"
           class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}