{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="card shadow p-4 mx-auto" style="max-width: 450px;">

    <h2 class="text-center mb-4">
        <i class="fa-solid fa-lock"></i>
        Forgot Password
    </h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Enter your email") }}
        </div>

        <div class="text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>

</div>

{% endblock %}